@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');
body {
    margin: 0;
    padding: 0;
    background: rgba(245, 245, 245, 0.755);
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box; 
}

main {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}



#image-div {
    width: 50%;
    max-width: 95vw;
    overflow: hidden;
    margin: auto;
}

#auth-message {
    word-wrap: unset;
    text-align: center;
    color:#003542;
    font-weight: 100;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

#image-div img {
    width: 100%;
}


#form-div {
    margin: auto;
    width: 300px;
    max-width: 95vw;
    background: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 0 20px 10px rgba(204, 203, 203, 0.238);    
}


label {
    color: black;
    font-weight: 100;
    font-size: 0.9em;
    display: block;
    margin-top: 15px;
    margin-bottom: 0;
}

sup {
    color: #FF9A85;
}

input, textarea {
    margin: auto;
    margin-bottom: 5px;
    display: block;
    align-self: left;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    padding: 7px;
    border-radius: 4px;
}

input:focus, textarea:focus {
    background: #003542;
    border-color: #003542;
    color: white;
}

input[type="submit"] {
    background: #57CEA0;
    color: white;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    background: #003542;
}

span {
    display: block;
    margin: 10px;
    font-size: 0.8em;
    color: grey;
}

span a {
    color: rgb(248, 126, 102);
}

span.center  {  
   text-align: center; 
}


#signin-form, #forgot-pass-form {
    display: none;
}