
a{
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  width:100%;
  height:100%;
}


.button {
  background: #6700df;
  color: white;
  width: 300px;
  padding: 5px 20px;
  margin-top: 1px;
  border-radius: 3px;
  border: solid 2px white;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #9933cc;
  color: gainsboro;
}


.card img {
  height: 200px;
  width: 100%;
}


.card {
  width: 300px;
  margin: 10px;
  background-color: white;
  text-align: center;
  font-family: arial;
  border: solid 1px gainsboro;
  box-shadow: 5px 5px 10px 8px #0035422a;
  border-radius: 5px;
}


.card-container {
  height: auto;
  padding-bottom: 20px;
}


.professional {
  color: #9933cc;
  font-size: 18px;
}

.card .button {
  display: block;
  border: none;
  outline: 0;
  margin: 0;
  border-radius: 0;
  width: 100%;
  padding: 5px 0;
  color: rgb(255, 255, 255);
  background-color: #994fee;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.hide-overflow {
  overflow: hidden;
}

.mentor-card{
  display: flex;
  margin:20px
}

.mentor-card img{
  width:50%;
}

.mentor-card .card-container{
  width: 100%;
  background: gainsboro;
  text-align: left;
  padding:20px
 
}

.email{
color: blue
}

.card:hover {
  transform: scale(1.08); 
}