


label {
  color: rgb(10, 10, 10);
  font-size: 0.9em;
  display: block;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 0;
}

.req-form {
  width: 100%;
  padding: 5px 1px;
  background-color: #e2d4d4;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid rgb(194, 197, 196);
  box-sizing: border-box;
}
@media (max-width: 400px) {
  .req-container {
    width: 100%;
  }
 
}

.req-container {
  width: 700px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  box-shadow: 5px 5px 10px 8px #0035422a;
}

.req-button {
  background: #268fe6;
  color: white;
  margin: 8px 0;
  border: 1px solid rgb(119, 126, 123);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  width: 100%;
  box-shadow: 0 1px 1px 0 black;
}
.req-button a {
color: #e2d4d4
}
.req-button:hover {
  background: #258faa;
  color: gainsboro;
}

.para-form {
  color: black;
  font-size: 19px;
}





