html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #003542;
}

a{
  text-decoration: none;
}
.black-block{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 100px;
  
}  

ul {
  padding: 0;
  background-color:rgb(76, 245, 180);
  
}

li {
  float: left;
  border-right: 1px solid #bbb;
  
}


li a {
  display: block;
  color:black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 1030;
}

  .nav-logo {
    width: 100%; 
    
  }
.logo{
  color:#57CEA0;
  text-align: center;
  font-size: 40px;
  background-color:#003542;
}

.right-nav {
  float: right;
}

.form {
  border-radius: 5px;
  background-color: #003542;
  padding: 20px;
  margin-top: 50px;
}
h3 {
  color:#FF9A85;
  text-align: center;
}
.formInput {
  width: 100%;
  padding: 12px 20px;
  background-color:#e2d4d4;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #57CEA0;
  box-sizing: border-box;
}
/* Add styles to the form container auth*/
.bg-img{
  background-color:#003542;
    background-size: cover;
}


 .container {
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color:rgb(245, 223, 209);
  margin-top: 50px;
  border-radius: 5px;
  text-align: center; 
  box-shadow: 0 20px 20px 0 black;
 }
.button {
      background:#57CEA0;
      color: black; 
      margin: 8px 0;
      border: none;
      cursor: pointer;
      font-size: 16px;
     padding: 10px 10px;
     width: 100%;
     
    }
.button:hover {
      background:#003542;
      color: gainsboro;
    }
 

.hide-overflow {
  overflow: hidden;
}

.mySlides {display: none;}
img {vertical-align: top;}

/* Slideshow container */
.slideshow-container {
position: relative;
margin-left: 0px;
margin-right: 0px;
display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  
  
}

.fade {
  opacity: 0.8;
}
/* Caption text  on slide*/ 
.text {
color: #57CEA0;;
font-size: 20px;
padding: 8px 2px;
position: absolute;
width: 20%;
position: right;
top: 50%;
left: 10%;
background-color: black;
border-radius: 10px;  
}

.cancelbtn{
background:#57CEA0;
      color:black;
      width: 100px;
      border: none;
      padding: 10px 10px;
      font-size: 14px;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

/* view mentors css */

.img-size {
vertical-align: middle;
width: 150px;
height: 150px;
border-radius: 50%;
}

.mentor-title {
color: #3c16c5;
text-align: center;
font-size: 30px;
}
.mentor-button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #003542;
text-align: center;
cursor: pointer;
width: 100%;
}

.mentor-button:hover {
background-color: #57CEA0;
}

.page-wrapper {
display: flex;
justify-content: center;
margin-top: 10px;
flex-wrap: wrap;
}

.card {
box-shadow: 0 50px 50px 0 rgb(10, 10, 10);
max-width: 300px;
margin: 40px;
background-color: rgb(177, 155, 155);
text-align: center;
font-family:New Roman;
border: solid 1px #57CEA0;
border-radius: 5px; 
 
}
.card-container {
height: auto;
padding: 10px;
text-align: left;

}
/* top image on view mentors */
.hero-image{
display: flex;
margin-top: 10%; 
}
.hero-image img{
width:50%;

}
.motto{
font-size:40px;
color: aliceblue 
}
.motto-emp {
  font-size:30px;
  color: #57CEA0; 
} 
h2{
text-align: center;
}
.text-container{
width: 50%;
background: rgb(8, 0, 0);
text-align: center;
}
/* password form */
label {
  color: black;
  font-size: 0.9em;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

sup {
  color: #FF9A85;
}
/* view specific */
.logo-spec{
  color:#57CEA0;;
  text-align: center;
  font-size: 20px;
  background-color:#003542;
}

.product-card{
  display: flex;
  margin-top: 5%;
  
}
.product-card img{
  width:50%;
  
}

.product-card .card-container{
  width: 50%;
  background: rgb(236, 219, 219);
  text-align: center;

}
